<p>{{ user | json }}</p>

<form novalidate (ngSubmit)="onSubmit()" #loginForm="ngForm" >

  <mat-dialog-content>
    <p>
      <md-input-container  >
        <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required>
        <mat-hint>
          <span [hidden]="username.pristine" >
            <span [hidden]="!username.errors?.required">username is required</span>
          </span>
        </mat-hint>
      </md-input-container>
      <md-input-container >
        <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
        <mat-hint>
            <span [hidden]="password.pristine">
            <span [hidden]="!password.errors?.required">password is required</span>
            </span>
            </mat-hint>
      </md-input-container>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="loginForm.form.invalid" >Login</button>
  </mat-dialog-actions>
</form>