<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">
<div fxFlex="40">

    <div [hidden]="dish || errMess">
        <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
        </div>

<div *ngIf="dish"  [@visibility]="visibility"  [@expand] >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}"  alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">BACK</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>    
  <div fxFlex="40"  [@visibility]="visibility"  [@expand] >
      <div  *ngIf="dish">     
          <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <h3>Comments</h3>
                </mat-card-title>
              </mat-card-header>
          <mat-card-content>
          <mat-list>
          <mat-list-item *ngFor="let dishComment of dish.comments">
           <p mat-line>  {{dishComment.comment}} </p>
           <p mat-line>  {{dishComment.rating}} </p>
           <p mat-line>   -- {{dishComment.author}} {{dishComment.date | date }} </p>
          </mat-list-item>
          </mat-list>

         
              <form novalidate [formGroup]="commentsForm" (ngSubmit)="onSubmit()">
                <p>
                <span [hidden]="(commentsForm.invalid)">
                      <p mat-line>{{ commentsForm.value["comment"] }} </p>
                      <p mat-line> {{ commentsForm.value["rating"]  }}</p>
                      <p mat-line>   -- {{ commentsForm.value["author"] }}  </p>
                    </span> 
                  </p>  
                <p>
                    <mat-input-container class="half-width"
                  dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
  
                    <input matInput formControlName="author" placeholder="Name" type="text" required>
                    <mat-hint>
                        <span [hidden]="!(formErrors.author)">
                            {{formErrors.author}}</span>
                      </mat-hint>
                </mat-input-container>
                </p>
                <p class="half-width">
                  <mat-slider step="1" min="1" max="5" thumbLabel tickInterval= "1" value="5" formControlName="rating"></mat-slider>
               
                </p>
                <p>
                     <mat-input-container class="half-width"
                        dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
  
                        <textarea matInput formControlName="comment" placeholder="Your Feedback" rows=12 required></textarea>
                        <mat-hint>
                            <span [hidden]="!(formErrors.comment)">
                                {{formErrors.comment}}</span>
                          </mat-hint>
                      </mat-input-container>
                </p>
                <p>
                    <button type="submit"  [disabled]="commentsForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
                </p>
              </form>    
          

        </mat-card-content>    
        </mat-card>          
      </div>
        
        </div>


</div>